---
import Aboutme from "@/components/AboutMe.astro"
import Book from "@/components/icons/Book.astro"
import Briefcase from "@/components/icons/Briefcase.astro"
import Contact from "@/components/Contact.astro"
import CodeIcon from "@/components/icons/Code.astro"
import Experience from "@/components/Experience.astro"
import Hero from "@/components/Hero.astro"
import Layout from '@/layouts/Layout.astro'
import Profile from "@/components/icons/Profile.astro"
import Projects from "@/components/Projects.astro"
import Messages from "@/components/icons/Messages.astro"
import SectionContainer from "@/components/SectionContainer.astro"
import Skills from "@/components/Skills.astro"
---

<Layout title="Tiago Alvarez Schiaffino Portfolio - Developer" description="Creating the best solution for the worst problem">
	<main class="px-4">
		<SectionContainer id="home" class="py-16 md:py-36">
			<Hero>
				</slot>
			</Hero>
		</SectionContainer>

		<div class="space-y-24">
		<SectionContainer id="work">
		  <h2 class="text-3xl font-semibold mb-6 flex gap-x-3 items-center text-black/80 dark:text-white">
			<Briefcase class="size-8" />
			 Work Experience
		  </h2>
		  <Experience />
		</SectionContainer>
	
		<SectionContainer id="projects">
		  <h2 class="text-3xl font-semibold mb-6 flex gap-x-3 items-center text-black/80 dark:text-white">
			<CodeIcon class="size-7" />
			 Projects
		  </h2>
		  <Projects />
		</SectionContainer>

		<SectionContainer id="about">
			<h2 class="text-3xl font-semibold mb-6 flex gap-x-8 items-center text-black/80 dark:text-white">
			  <Profile class="size-8" />
			  About me
			</h2>
			<Aboutme />
		  </SectionContainer>

		  <SectionContainer id="skills">
			<h2 class="text-3xl font-semibold mb-6 flex gap-x-3 items-center text-black/80 dark:text-white">
			  <Book class="size-7" />
			  Skills
			</h2>
			<Skills />
		  </SectionContainer>

		  <SectionContainer id="contact">
			<h2 class="text-3xl font-semibold mb-6 flex gap-x-3 items-center text-black/80 dark:text-white">
				<Messages class="size-7" />
			  Contact
			</h2>
			<Contact />
		  </SectionContainer> 
		</div>
	  </main>
</Layout>