---
import Aboutme from "@/components/AboutMe.astro"
import Book from "@/components/icons/Book.astro"
import Briefcase from "@/components/icons/Briefcase.astro"
import Compass from "@/components/icons/Compass.astro"
import Contact from "@/components/Contact.astro"
import Controls from "@/components/Controls.astro"
import CodeIcon from "@/components/icons/Code.astro"
import Experience from "@/components/Experience.astro"
import Hero from "@/components/Hero.astro"
import Layout from '@/layouts/Layout.astro'
import Profile from "@/components/icons/Profile.astro"
import Projects from "@/components/Projects.astro"
import Messages from "@/components/icons/Messages.astro"
import SectionContainer from "@/components/SectionContainer.astro"
import Skills from "@/components/Skills.astro"
---

<Layout title="Tiago Alvarez Schiaffino Portfolio - Developer" description="Creating the best solution for the worst problem">
	<main class="px-4">
		<SectionContainer class="py-8 md:py-15">
			<div class="commodore-text text-center my-12">
				<div>
					**** COMMODORE 64 BASIC V2 ****
				</div>
				<div>
					64K RAM SYSTEM 38911 BASIC BYTES FREE
				</div>
				<div class="flex items-center justify-start">
					READY<span class="blinking-dot">.</span>
				</div>
			</div>
			<Hero>
			</slot>
		</Hero>
		</SectionContainer>

		<div class="space-y-12">
		<SectionContainer id="work">
		  <h2 class="text-3xl font-extrabold mb-6 flex gap-x-3 items-center text-white dark:text-black">
			<Briefcase class="size-8 mr-3" />
			 Work Experience
		  </h2>
		  <Experience />
		</SectionContainer>
	
		<SectionContainer id="projects">
		  <h2 class="text-3xl font-extrabold mb-6 flex gap-x-3 items-center text-white dark:text-black">
			<CodeIcon class="size-7 mr-3" />
			 Projects
		  </h2>
		  <Projects />
		</SectionContainer>

		<SectionContainer id="about">
			<h2 class="text-3xl font-extrabold mb-6 flex gap-x-3 items-center text-white dark:text-black">
			  <Profile class="size-8 mr-3" />
			  About me
			</h2>
			<Aboutme />
			<h2 class="text-3xl font-extrabold mb-6 flex gap-x-3 items-center text-white dark:text-black">
				<Compass class="size-8 mr-3" />
				Narrative Voyage
			  </h2>
			  <Controls />
		  </SectionContainer>

		  <SectionContainer id="skills">
			<h2 class="text-3xl font-extrabold mb-6 flex gap-x-3 items-center text-white dark:text-black">
			  <Book class="size-7 mr-3" />
			  Skills
			</h2>
			<Skills />
		  </SectionContainer>

		  <SectionContainer id="contact">
			<h2 class="text-3xl font-extrabold mb-6 flex gap-x-3 items-center text-white dark:text-black">
				<Messages class="size-7 mr-3" />
			  Contact
			</h2>
			<Contact />
		  </SectionContainer> 
		</div>
	  </main>
</Layout>

<style>


	.commodore-text {
		color: #A5A5FF;
		font-family: monospace;
		font-size: 1.5em;
	}

	.blinking-dot {
		animation: blink-animation 1s steps(1, end) infinite;
	}

	@keyframes blink-animation {
		50% {
			opacity: 0;
		}
	}
</style>