<section class="flex flex-col items-center justify-center gap-8 md:flex-row">
  <div
    class="mb-4 text-gray-950 font-black text-pretty order-2 md:order-1 dark:text-white"
  >
    <p>
        Started in IT world when I was 17 y/o, as always researching,
        I found that it was a profession that was very attractive and I had never heard of it.
        Currently,<strong class="text-yellow-500"
        > working Freelance on <a href="https://tiagoalvarezschiaffino.artstation.com/" target="_blank" class="underline">personal projects</a> such as Web/Apps, Animation and Videogames development</strong
      >.
    </p>
    <br>
    <p>
        Some of my successes include<strong class="text-yellow-500"
        > having stood out in a big project for the first time in <a href="https://gaorfid.com/GAO-BLE-RFID-IoT-Engine.pdf" target="_blank" class="underline">GAO IoT System</a></strong
      >. Where I highlight my individual approach in the optimization and development of
        tracking bpn mobile app.
    </p>
    <br>
    <p>
      Creating content like, <strong class="text-yellow-500"
      >had a <a href="https://bitmind.netlify.app" target="_blank" class="underline">personal blog</a>, <a href="https://tiktok.com/@tiagoschiaffino" target="_blank" class="underline">TikTok</a>, and <a href="https://www.youtube.com/channel/UCnhVhv7hymv1s9A_c2uT_Pg" target="_blank" class="underline">YouTube</a> channel of<em class="italic"> Software & Game Development</em></strong
      >. My goal is to help people, being able to give them certain tools, thoughts or help in itself,
        in addition to showing and tracking my daily progress.
    </p>
  </div>
</section>