<div class="flex flex-col gap-y-16 overflow-hidden">
              <section class="container flex flex-col space-x-0 space-y-8 group md:flex-row md:space-x-8 md:space-y-0">
                <div class="slider-wrapper w-full md:w-1/2 relative">
                  <ul class="slider relative">
                    <li>
                        <img src="../pixel/Me.png" alt="Me" />
                        <div class="image-description">
                            <h3 class="font-semibold text-sm">This is me, or so I think. Lost in world of code with 20 years old. My mission is to solve one bug at a time and often collaborating on open-source projects!</h3>
                        </div>
                    </li>
                    <li>
                        <img src="../pixel/Dog.png" alt="Dog" />
                        <div class="image-description">
                            <h3 class="font-semibold text-sm">Look at Hachy! My faithful mate, inspired his name by the movie "Siempre a tu lado", now has 12 years old and still full of energy.</h3>
                        </div>
                    </li>
                    <li>
                        <img src="../pixel/Notebook.png" alt="Notebook" />
                        <div class="image-description">
                            <h3 class="font-semibold text-sm">When I was a child, I go to disassembled and revitalized our desktop computer whitout anyone noticing, relying to clean and optimize its performance.</h3>
                        </div>
                    </li>
                    <li>
                        <img src="../pixel/KingChess.png" alt="KingChess" />
                        <div class="image-description">
                            <h3 class="font-semibold text-sm">I had a professional esports career where i ascended to the highest ranks, having the opportunity to improve myself and travel to various places in my country and having the possibility of traveling to other countries.</h3>
                        </div>
                    </li>
                    <li>
                        <img src="../pixel/Test.png" alt="Test" />
                        <div class="image-description">
                            <h3 class="font-semibold text-sm">Fueled for knowledge instilled by my mother, consistently excelled in both school and university with dedication and determination.</h3>
                        </div>
                    </li>
                    <li>
                        <img src="../pixel/Joystick.png" alt="Joystick" />
                        <div class="image-description">
                            <h3 class="font-semibold text-sm">Immersed in the captivating world of video games. Preferring both casual and adventure games... or Horror.</h3>
                        </div>
                    </li>
                    <li>
                        <img src="../pixel/Setup.png" alt="Setup" />
                        <div class="image-description">
                            <h3 class="font-semibold text-sm">I find myself creating an oasis of organization, meticulous planning and attention to detail.</h3>
                        </div>
                    </li>
                  </ul>
                  <div class="slider-nav">
                      <button class="prev-slide">◄</button>
                      <button class="next-slide">►</button>
                  </div>
                </div>
              </section>
            </div>

  
            <div class="w-full md:w-1/2 md:max-w-lg">
                <h3 class="text-2xl font-bold text-yellow-400 mb-2"></h3>
                <div class="flex flex-wrap mt-2"></div>
            </div>
  

<style>
  
    .container {
	    padding: 2rem;
        display: flex;
    }

    .slider-wrapper {
	    position: relative;
	    max-width: 48rem;
	    margin: 0 auto;
    }

    .slider {
        width: 400px;
        position: relative;
        display: flex;
        overflow: hidden;
        scroll-snap-type: x mandatory;
        scroll-behavior: smooth;
        box-shadow: 0 1.5rem 3rem -0.75rem hsla(0, 0%, 0%, 0.25);
	    border-radius: 0.5rem;
        scrollbar-width: none;
    }

    .slider::-webkit-scrollbar {
	    display: none;
    }

    .slider li {
        flex: 0 0 auto;
        scroll-snap-align: start;
        position: relative;
        width: 100%;
        left: 0;
        text-align: center;
        border-radius: 5px;
        object-fit: cover;
    }
    .slider img {
        width: 100%;
        object-fit: cover;
        border-radius: 5px;
        scroll-snap-align: start;
    }
    
    .image-description {
	    position: absolute;
	    bottom: 0;
	    left: 0;
	    right: 0;
	    background-color: rgba(0, 0, 0, 0.7);
	    padding: 10px;
	    text-align: center;
    }

    .slider-nav {
	    display: flex;
	    justify-content: center;
	    margin-top: 1rem;
        margin-left: auto;
        margin-right: auto;
    }

    .slider-nav button {
	    border: none;
	    background: none;
	    font-size: 1.5rem;
	    cursor: pointer;
	    padding: 0.5rem;
	    color: #000;
	    transition: color 0.3s ease;
    }

    .slider-nav button:hover {
	    color: #555;
    }


</style>

<script>
  let slider: HTMLElement | null;
  let prevButton: HTMLButtonElement | null;
  let nextButton: HTMLButtonElement | null;

  window.addEventListener('DOMContentLoaded', () => {
    slider = document.querySelector(".slider");
    prevButton = document.querySelector(".prev-slide");
    nextButton = document.querySelector(".next-slide");

    if (slider && prevButton && nextButton) {
      const slideWidth = slider.offsetWidth;

      const slideToLeft = () => {
        slider?.scrollBy?.({
          left: -slideWidth,
          behavior: "smooth"
        });
      };

      const slideToRight = () => {
        slider?.scrollBy?.({
          left: slideWidth,
          behavior: "smooth"
        });
      };

      prevButton.addEventListener("click", slideToLeft);
      nextButton.addEventListener("click", slideToRight);
    } else {
      console.error("Slider element or buttons not found!");
    }
  });
</script>