---
import ExperienceItem from "./ExperienceItem.astro"
const EXPERIENCIE = [
  {
    date: "June 2023 - September 2023",
    title: "Frontend Developer − No Country (LATAM)",
    industry: "Fintech & Social Networking",
    description:
      "Maked components, key features and functional aspects with the UX/UI Team and other colleages for several industries to conquereed MVP. Agile methodologies implemented to the respectives projects. Stayed in contact with Backend, weaving the project and establishing the necessary connections.",
    link: "https://www.nocountry.tech/",
  },
  {
    date: "April 2023 - September 2023",
    title: "Software Developer Intern − GAOTek. Inc. (NY, USA)",
    industry: "B2B Tech Supplier",
    description:
      "Contributed to the GAO IoT system. Migrating code to Flutter, working with Kotlin, Dart into Android Studio. Fixing pre-existing issues, optimized the app for BLE technology and collaborated on the integration of Google OAuth 2.0 for event tracking in the GAO BPN mobile app. Making article of diverse topics in WordPress from motor vehicle manufacturing to medical and diagnostic laboratories.",
    link: "https://gaotek.com/"
  },
  {
    date: "February 2018 - December 2021",
    title: "Pc Technician − TroPC (BA, ARG)",
    industry: "Local Business",
    description:
      "Pc optimization covering all the technical aspects, from prepare the device for specific purposes like Overclocking or maybe Formatting, to install OS. Being all the time watching inventory of hardware and handled diagnostic assessments to identify inquiries and performance the components. Customer service at the counter and addressing with professionalism.",
  },
]
---

<ol class="relative border-s border-gray-200 ml-3">
  {
    EXPERIENCIE.map((experiencie) => (
      <li class="mb-10 ms-4">
        <ExperienceItem {...experiencie} />
      </li>
    ))
  }
</ol>