---
const currentYear = new Date().getFullYear()
---

<footer
  class="flex justify-center mb-10 md:max-w-2xl backdrop-blur-lg w-full mx-auto container lg:max-w-4xl shadow m-4 bg-black/5 dark:bg-black/20">
    <div class=" w-full p-4 text-center container px-6 pt-6 mb-6 flex justify-center w-full max-w-screen-xl mx-auto md:flex md:items-center md:justify-between">
      <a
        href="https://linktr.ee/t.alvarezschiaffino"
        type="button"
        class="m-1 h-9 w-9 rounded-full border-2 border-white uppercase leading-normal text-white transition duration-150 ease-in-out hover:bg-black hover:bg-opacity-5 focus:outline-none focus:ring-0"
        data-te-ripple-init
        data-te-ripple-color="light"
        target="_blank"
        rel="noopener noreferrer">
        <svg 
          xmlns="http://www.w3.org/2000/svg"
          class="icon icon-tabler icon-tabler-brand-linktree"
          viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M4 10h16" /><path d="M6.5 4.5l11 11" /><path d="M6.5 15.5l11 -11" /><path d="M12 10v-8" /><path d="M12 15v7" /></svg>
      </a>
      <span class="text-sm sm:text-center text-yellow-200/90 text-sm sm:text-center text-zinc-800/90 dark:text-zinc-200/90"
      >© {currentYear} <a href="https://www.linkedin.com/in/tiago-alvarez-schiaffino/" target="_blank" class="hover:underline">Tiago Alvarez Schiaffino</a>.
      Designed and Developed
    </span>
  </div>
</footer>