---
const currentYear = new Date().getFullYear()
---

<footer class="flex justify-center mb-10 md:max-w-2xl w-full mx-auto container lg:max-w-4xl shadow m-4 bg-gray-200 dark:bg-black/20">
  <div class="w-full md:flex md:items-center md:justify-between p-4">
    <ul class="flex flex-wrap items-center mt-3 text-sm font-medium dark:text-white/90 sm:mt-0 space-x-4 md:space-x-6">
      <li>
        <a href="https://linktr.ee/t.alvarezschiaffino" class="hover:underline focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-offset-black focus:ring-white me-4 md:me-6" target="_blank" rel="noopener noreferrer">Linktree</a>
      </li>
      <li>
        <a href="https://bitmind.netlify.app/" class="hover:underline focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-offset-black focus:ring-white me-4 md:me-6" target="_blank" rel="noopener noreferrer">Blog</a>
      </li>
      <li>
        <a href="https://www.artstation.com/tiagoalvarezschiaffino" class="hover:underline focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-offset-black focus:ring-white me-4 md:me-6" target="_blank" rel="noopener noreferrer">ArtStation</a>
      </li>
    </ul>
    <span class="text-sm sm:text-center">
      © {currentYear} <a href="https://www.linkedin.com/in/tiago-alvarez-schiaffino/" target="_blank" rel="noopener noreferrer" class="hover:underline">Tiago Alvarez Schiaffino</a>.
      Designed and Developed
    </span>
  </div>
</footer>