---
import ThemeToggle from "./ThemeToggle.astro"

const navItems = [
  {
    title: 'Work',
    url: '/#work',
    label: "work"
  },
  {
    title: 'Projects',
    url: '/#projects',
    label: "projects"
  },
  {
    title: 'About',
    url: '/#about',
    label: "about"
  },
  {
    title: 'Skills',
    url: '/#skills',
    label: "skills"
  },
  {
    title: 'Contact',
    url: '/#contact',
    label: "contact"
  }
]
---

<script>
  document.addEventListener("astro:page-load", () => {
    const sections = document.querySelectorAll("section")
    const navItems = document.querySelectorAll("header nav a")

    const callback = (entries: any[]) => {
      entries.forEach((entry) => {
        if (entry.isIntersecting) {
          navItems.forEach((item) => {
            if (item.getAttribute("aria-label") == entry.target.id) {
              item.classList.add("'bg-white/30', 'dark:bg-gray-800/30'")
            } else {
              item.classList.remove("'bg-white/30', 'dark:bg-gray-800/30'")
            }
          })
        }
      })
    }

    const observer = new IntersectionObserver(callback, {
      root: null,
      rootMargin: "0px",
      threshold: 0.3,
    })

    sections.forEach((section) => {
      observer.observe(section)
    })

    document.onvisibilitychange = () => {
      if (document.visibilityState === "hidden") {
        observer.disconnect()
      } else {
        sections.forEach((section) => {
          observer.observe(section)
        })
      }
    }
  })
</script>

<header
  class="fixed top-0 flex justify-center items-center w-full mx-auto z-10 mt-2"
>
  <nav class={`
    border border-black
    px-3
    text-sm font-medium
    flex justify-center items-center
    bg-white/50
    backdrop-blur-2xl
  `}
>
  {
    navItems.map((link) => (
      <a 
        class="relative block hover:bg-white/20 dark:hover:bg-black/10 rounded-full px-2 py-2 transition  hover:text-yellow-500 dark:hover:text-yellow-400"
        aria-label={link.label}
        href={link.url}
        >
          {link.title}
        </a>
      ))
    }
    <ThemeToggle />
  </nav>
</header>

<style>
  nav {
    animation: nav-shadown 1s linear both;
    animation-timeline: scroll();
    animation-range: 0 100px;
  }

  @keyframes nav-shadown {
    to {
      @apply shadow-lg ring-1 backdrop-blur dark:bg-gray-300/60 bg-white/50 ring-white/10;
    }
  }
</style>