---
const { href } = Astro.props
---

<a href={href} target="_blank" role="link" rel="noopener noreferrer" aria-label="Link to company web" class="inline-flex items-center justify-center text-xs md:text-base bg-white border-gray-200 rounded-lg py-1 px-2 md:py-2 md:px-4 transition hover:scale-110  hover:bg-gray-100 dark:hover:bg-gray-700 dark:hover:border-gray-600  dark:border-gray-600 dark:bg-gray-800">
  <slot />
</a>